*.iml
**/*.iml
*.ipr
**/*.ipr
*.iws
**/*.iws
.idea

.project
.classes
.settings


/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env

**/.vagrant
